<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Cart</title>
  </head>
  <body>
    <%- include("../layouts/header.ejs") %>
    <main>
      <% if(cartData.length>0) { %>
      <ul>
        <% cartData.forEach( p => { %>

        <li><%=p.title %> (<%=p.cartItem.quantity %>)</li>

        <% }) %>
        <h2>$ <%= totalPrice %></h2>
        <% } else { %>
        <h2>No Products in Cart</h2>
        <% } %>
      </ul>
    </main>
  </body>
</html>
